/* ===== Global Styles ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: #676e95;
  background-color: #292d3e;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ===== Remove spinner from number inputs ===== */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
