body {
  margin: 0;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: #676e95;
  background-color: #292d3e;
  width: 350px;
  margin: 0 auto;
}

